<div class="newspaper_footer">
          
  <div class="newspaper_footer_action">
    <div class="comments itemWithIcon newspaper_footer_action_item">
      <span class="material-symbols-outlined">
        comment
      </span>

        Comments
    </div>

    <div class="shares itemWithIcon newspaper_footer_action_item">
      <span class="material-symbols-outlined">
        ios_share
      </span>

      Share

    </div>

    <div class="itemWithIcon copyUrl newspaper_footer_action_item">
      <span class="material-symbols-outlined">
        link
      </span>

      Link
      <div class="copiedAlert">
        Copied
      </div>
    </div>
  </div>

</div>