{% extends "extends/base.html" %} {% load static %} {% block main %}

<main class="main">
  <div class="doubleFrame">
    <div class="doubleFrame_main">
      <div class="pageTitle">Againjflak jこんにちは</div>

      <div class="article">
        <div class="articleCreatedAt">4th May, 2022</div>

        <div class="articleBody">
          <div class="fullWidthParagraph">
            今日もまた、空はその身を青く染め、光は豊かに降り注ぐ。水色の絵の具をこぼしたような空に、塗り残された雲たちが窮屈そうに流れゆく。空はキャンバスだ。ビルのないキャンバスは、終わりが見えないほどにどこまでもどこまでも続いている。終わりのないキャンバスを、絵描きは根気強くも塗り広げる。次第に空の絵の具は濁りはじめる。幾重にも混ぜられた絵の具たちは、次第にその身に深みを呈し、絵描きは空に茜を描く。色は沈みゆく。赤橙色の光を追うと、渺茫まで続くようなキャンバスも、終わりがあることに私は気づく。願わくは、明日も誰かが空を塗らんことを。
          </div>
        </div>

        <div class="itemWithIcon articleInfo">
          <div class="articleInfoAuthor">ISUUED BY okmtyuta</div>
          <img
            src="{% static 'pages/media/generalLib.jpeg' %}"
            class="articleInfoAuthorIcon circleIcon"
          />
        </div>
      </div>
    </div>

    <div class="doubleFrame_nav --stick">
      <div class="headlineWithLeftLine">Getting Started</div>
      <ul class="colList">
        <li class="colListItem">INSTALLATION</li>
        <li class="colListItem">CREATE APP</li>
        <li class="colListItem">fjaklf</li>
        <li class="colListItem">fjaklf</li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
