/* For PC */
@media screen and (min-width: 1025px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template:
        "header"    60px
        "main"      1fr
        "footer"    auto/
        100%;
    font: var(--bodyFont);
    width: 100%;
  }
}

/* For tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template:
        "header"    100px
        "main"      1fr
        "footer"    auto/
        100%;
    font: var(--bodyFont);
    width: 100%;
  }
}

/* For mobile */
@media (max-width: 599px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template:
        "header"    100px
        "main"      1fr
        "footer"    auto/
        100%;
    font: var(--bodyFont);
    width: 100%;
  }
}