.itemWithIcon {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 5px;
  height: 100%;
}
.itemWithIcon > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
