/* For PC */
@media screen and (min-width: 1025px) {
  .main {
    grid-area: main;
  }
}

/* For tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main {
    grid-area: main;
  }
}

/* For mobile */
@media (max-width: 599px) {
  .main {
    grid-area: main;
  }
}